@import "../../css/theme.scss";

.title {
    font-size: $h3;
    color: $baseFontColor;
    margin: 0.5em 0;
}
.content {
    color: $secondaryColor;
    font-size: $secondaryParagraph;
}
.subTitle {
    color: rgba(43,41,45,0.6);
    font-size: 14px;
}
.footer img {
    height: 48px;
    width: 136px;
}
.mediaFigure {
    width: 250px;
    height: 250px;
    margin-left: -20px;
}
@media (min-width: 768px) {
    .mediaFigure {
        margin-left: 0px;
    }
}
