@import "../../css/theme.scss";

.section__houseCupFeatures .container__footer {
    text-align: center;
}
.title {
    color: $tertiaryColor;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-top: 1px;
    border-style: solid;
    border-color: #616161;
    padding: 15px 0;

}
.col {
    font-size: $h6;
}
.boldText {
    display: inline;
}
.paragraph {
    display: inline;
}
