@import "../../css/theme.scss";

.section {
    background-color: $secondaryBackgroundColor;
}
.subTitle {
    font-weight: $bold;
    color: $tertiaryColor;
    font-size: $h5;
}
.title {
    font-size: $h3;
    color: $baseFontColor;
    margin: 0.5em 0;
}
.content {
    color: $secondaryColor;
    font-size: $secondaryParagraph;
}
@media (min-width: 768px) {
    .teamInfo {
        margin-left: 30px;
    }
}
