@import "../../css/theme.scss";


.header {
    background: transparent;
    margin-bottom: -4.375em;
    position: relative;
    z-index: 1;
    color: $baseFontColor;
}
.header.is-sticky {
    background-color: var(--tertiaryColor);
    transition: ease-in .2s background;
}
.section--onTransparentHeader .container {
    padding-top: 70px;
}
// 
// .header__container {
//     justify-content: space-between;
//     align-items: center;
// }
