@import "../../css/theme.scss";

.section .rowCenter{
    align-items: center;
}
.subTitle {
    font-weight: 300;
}
.header {
    color: $tertiaryColor;
    font-size: $h5;
}
.title {
    color: #212121;
    font-size: $h2;
    margin: 0.5em 0;
    line-height: 1.2em;
}
.content {
    color: #424242;
    font-size: $secondaryParagraph;
}
.media {
    margin-top: 30px;
}
@media (min-width: 768px) {
    .media {
        height: 597;
        width: 888px;
        margin-top: 0px;
    }
}
// .section__joinTogether .section__footer {
//     margin-bottom: 40px;
// }
// @media (min-width: 768px) {
//     .section__joinTogether .section__footer {
//         margin-bottom: 0px;
//     }
// }
